@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #F6F5F2;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
